.w-70p {
    width: 70%;
}

.w-30p {
    width: 30%;
}

.font-xl {
    font-size: x-large;
}

.bg-black {
    background-color: #000000 !important;
}

.pad-b4p {
    padding-bottom: 4%;
}

.margin-auto {
    margin: auto;
}

.margin-t-10p {
    margin-top: 10%;
}

.margin-t-5p {
    margin-top: 5%;
}

.margins-8p {
    margin-top: 8%;
    margin-bottom: 8%;
}

.margins-6p {
    margin-top: 6%;
    margin-bottom: 6%;
}

.background-black {
    background-color: black;
}

.noradius {
    border-radius: 0;
}

/************NOT REUSABLE CSS***************/
html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 6rem;
    background-image: url('images/backgrounds/ny.jpg');
    font-family: 'Trebuchet MS';
    background-repeat: no-repeat;
    background-size: cover;
}

.box .rzslider .rz-bar-wrapper .rz-bar {
    background: black;
}

.box .rzslider {
    width: 85%;
}

    .box .rzslider .rz-pointer {
        background-color: #007bff;
    }

        .box .rzslider .rz-pointer .mre-mine {
            background-color: black;
        }

.footer-position {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
}

#footer {
    width: 100%;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
}

.answer-label {
    margin: auto;
    font-size: xx-large;
}

.contact {
    display: inline-block;
    padding-right: 2%;
}

.img-logo {
    max-width: 20%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.img-tutorial {
    max-width: 40%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 10%;
}

.container {
    max-width: 70%;
    text-align: center;
}

.box {
    text-transform: uppercase;
    background-color: rgba(255, 254, 252, 0.81);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
    border-radius: 3px;
}

.btn-black-noradius {
    background-color: black;
    color: white;
}

    .btn-black-noradius:hover {
        background-color: white;
        border: 2px solid;
        color: black;
    }

.intro {
    margin-top: 5%;
    margin-bottom: 5%;
}

.question {
    margin-top: 3%;
    margin-bottom: 5%;
}

.box .selectpicker {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.input-borders {
    text-align: center;
    background: rgba(255, 255, 255, 0.67);
}

.error {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.small-screen-buttons-wrapper {
    display: none;
}

.small-screen-button {
    margin: auto;
}

.small-screen-slider {
    display: block;
}

/************MEDIA QUERIES***************/

@media (min-width: 4000px) {
    .footer-position {
        position: absolute;
    }
}

@media (min-width: 992px) {
    .head-foot {
        padding-left: 15%;
    }
}

@media (max-width: 991px) {
    .img-logo {
        max-width: 30%;
    }

    .small-screen-buttons-wrapper {
        display: block;
    }

    .big-screen-buttons {
        display: none;
    }

    .progress {
        margin: auto;
        width: 80%;
    }
    .font-xl {
    font-size: medium;
}
}

@media (max-width: 575px) {
    .contact {
        display: block;
    }

    .img-logo {
        max-width: 60%;
    }

    .container {
        max-width: 95%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .footer-position {
        position: absolute;
    }
}
